<%- include('includes/head.ejs') %>
</head>

<body class = "bg-gray-200">
<%- include('includes/navbar.ejs') %>
<main class = "container mx-auto py-8">
    <% if(products.length > 0) { %>
        <h1 class = "text-3xl font-bold mb-4">Products</h1>

        <% products.forEach(product => { %>
            <div class = "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                <div class = "bg-white rounded-lg shadow-lg p-6">
                    <h2 class = "text-lg font-bold mb-4"><%= product?.category %>></h2>
                    <ul class = "list-disc ml-6">
                        <% product?.items.forEach(item => { %>
                            <li><%= item.title %></li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <h1 class = "text-3xl font-bold mb-4">No Products</h1>
    <% } %>
</main>
<%- include('includes/end.ejs') %>