<%- include('../includes/head.ejs') %>
</head>

<body class = "bg-gray-200">
<%- include('../includes/navbar.ejs') %>
<div class = "max-w-5xl mx-5 md:mx-auto bg-white shadow-lg rounded-lg overflow-hidden min-h-screen">
	<div class = "px-4 py-2">
		<h2 class = "text-2xl font-semibold">Your Cart</h2>
	</div>
	<div class = "px-4 py-2">
		<!--		render empty cart if products does not exist or no products added-->
		<% if (!cart?.products || cart?.products?.length === 0) { %>
			<div class = "flex items-center justify-center px-4 py-6">
				<p class = "text-xl text-gray-500">Your cart is empty.</p>
			</div>
			<div class = "px-4 py-2">
				<a class = "block w-full bg-emerald-400 text-black font-semibold rounded-lg py-2 px-4 hover:bg-emerald-500 text-center"
				   href = "/"
				>
					Continue Shopping
				</a>
			</div>
		<% } else{ %>
		<!--		render items if products exist in cart-->
			<% if(cart?.products?.length !== 0) { %>
				<ul>
					<% cart?.products?.forEach(product =>  { %>
						<!-- Cart Item -->
						<li class = "flex flex-col md:flex-row items-center justify-around py-4 border-b">
							<div class = "flex flex-col md:flex-row items-center justify-center gap-4">
								<img class = "h-24 w-auto object-contain" src = "<%= product.product.imageURL; %>"
									 alt = "Product Image"
								>
								<div class = "ml-4">
									<p class = "font-semibold"><%= product.product.name; %></p>
									<p class = "text-sm text-gray-500">Unit Price: $<%= product.product.price; %></p>
								</div>
							</div>
							<div class = "flex items-center">
								<button class = "text-red-500 focus:outline-none p-2">
									<svg class = "h-6 w-6" fill = "none" stroke = "currentColor" viewBox = "0 0 24 24"
										 xmlns = "http://www.w3.org/2000/svg"
									>
										<path stroke-linecap = "round" stroke-linejoin = "round" stroke-width = "2"
											  d = "M20 12H4"
										></path>
									</svg>
								</button>
								<p class = "mx-4 font-semibold">1</p>
								<button class = "text-green-500 focus:outline-none p-2">
									<svg class = "h-6 w-6" fill = "none" stroke = "currentColor" viewBox = "0 0 24 24"
										 xmlns = "http://www.w3.org/2000/svg"
									>
										<path stroke-linecap = "round" stroke-linejoin = "round" stroke-width = "2"
											  d = "M12 6v6m0 0v6m0-6h6m-6 0H6"
										></path>
									</svg>
								</button>
							</div>
							<div class = "px-4 py-2">
								<div class = "flex justify-between items-center">
									<div></div> <!-- Empty div for spacing -->
									<button class = "text-red-500 focus:outline-none p-2">
										<svg class = "h-6 w-6" fill = "none" stroke = "currentColor"
											 viewBox = "0 0 24 24"
											 xmlns = "http://www.w3.org/2000/svg"
										>
											<path stroke-linecap = "round" stroke-linejoin = "round" stroke-width = "2"
												  d = "M6 18L18 6M6 6l12 12"
											></path>
										</svg>
									</button>
								</div>
							</div>
							<hr class = "my-4 border-gray-300">
						</li>
				</ul>
				<% }) %>
				<hr class = "my-4 border-gray-300">
				<div class = "px-4 py-2">
					<div class = "flex justify-between">
						<p class = "font-semibold">Total Price:</p>
						<p class = "font-semibold">$<%= cart?.total?.toFixed(2); %></p>
					</div>
				</div>
				<div class = "px-4 py-2">
					<button class = "block w-full bg-blue-500 text-white font-semibold rounded-lg py-2 px-4 hover:bg-blue-600 focus:outline-none">
						Checkout
					</button>
				</div>
		<% }} %>
	</div>
</div>
<%- include('../includes/end.ejs') %>