<%- include('../includes/head.ejs') %>
</head>
<body class = "bg-gray-200">
<%- include('../includes/navbar.ejs') %>
<div class = "container mx-auto px-4 py-8 min-h-screen">
	<h1 class = "text-2xl font-bold mb-4">Orders</h1>

	<% if (!orders || orders?.length === 0) { %>
		<div class = "flex items-center justify-center px-4 py-6">
			<p class = "text-xl text-gray-500">Order some to get some ✌️</p>
		</div>
		<div class = "px-4 py-2">
			<a class = "block w-full bg-emerald-400 text-black font-semibold rounded-lg py-2 px-4 hover:bg-emerald-500 text-center"
			   href = "/"
			>
				Continue Shopping
			</a>
		</div>
	<% } %>

	<ul class = "flex flex-wrap -mx-4">
		<% orders.forEach((order) => { %>
			<li class = "w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 mb-8">
				<div class = "bg-white rounded shadow-md p-6 order-card">
					<h2 class = "text-lg font-semibold mb-2">Order #
						<span class = "text-xs bg-gray-300 px-2 py-1 rounded-xl">
   						<%= order._id; %>
						</span>
					</h2>
					<ul class = "mb-4">
						<% order.cart.forEach((product) => { %>
							<li><%= product.productID.name %> (<%= product.quantity %>)</li>
						<% }) %>
						<p class = "mb-2">Total Price: $ <%= order.totalPrice %></p>
					</ul>
					<% if (order.status === 'success') { %>
						<p class = "mb-4">Status: <span class = "bg-green-700 text-green-300 rounded p-2"
							>Successful</span></p>
						<p class = "text-gray-600">Delivery Date: June 20, 2023</p>
						<form action = '/cancel-order' method = 'POST'>
							<input type = "hidden"
								   name = "orderID"
								   value = "<%= order._id %>"
							>
							<button class = "mt-4 bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded"
									type = 'submit'
							>Cancel
							</button>
						</form>
					<% } else if (order.status === 'cancelled') { %>
						<p class = "mb-4">Status: <span class = "bg-red-800 text-red-200 rounded p-2"
							>Cancelled</span></p>
					<% } else { %>
						<p class = "mb-4">Status: <span class = "bg-yellow-800 text-yellow-400 rounded p-2"
							>Processing</span>
						</p>
						<p class = "text-gray-600">Delivery Date: N/A</p>
					<% } %>
				</div>
			</li>
		<% }); %>
	</ul>
</div>
</body>
<%- include('../includes/end.ejs') %>